if adsenseClientId
  .ad-slot(aria-label='Reklama')
    ins.adsbygoogle(
      style='display:block'
      data-ad-client=adsenseClientId
      data-ad-slot=adSlot
      data-ad-format='auto'
      data-full-width-responsive='true'
    )
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});
