extends ../../../layouts/main

block content
  .legal-page
    .container
      .legal-page__header
        h1.legal-page__title Kontakt
        p.legal-page__meta Máte dotaz nebo narazili jste na chybu?

      .contact-grid

        .contact-info
          section.legal-section
            h2 O webu
            p
              | #{siteName} je bezplatný web s českými online nástroji
              | pro text, kalkulačky a česká data.
              | Všechny nástroje jsou zdarma a nevyžadují registraci.
            p
              | Web provozuje fyzická osoba podnikající na základě
              | živnostenského oprávnění se sídlem v České republice.
            p
              | Část kódu a textů vznikla za pomoci umělé inteligence.
              | Architektura, business logika, testy a veškerá rozhodnutí jsou dílem autora.

          section.legal-section
            h2 Kdy nás kontaktovat
            ul
              li narazili jste na chybu nebo nesprávný výsledek nástroje
              li výsledek kalkulačky se zdá nesprávný
              li máte nápad na nový nástroj nebo vylepšení
              li dotazy k ochraně osobních údajů nebo podmínkám použití
              //-
                li hlášení nevhodného obsahu reklam

          section.legal-section
            h2 Další dokumenty
            ul
              li: a(href='/ochrana-osobnich-udaju') Ochrana osobních údajů
              li: a(href='/podminky-pouziti') Podmínky použití

        .contact-form-wrap
          h2 Napište nám

          form.contact-form(method='POST' action='https://formspree.io/f/xwvznbel')
            input(type='hidden' name='_next' value='https://tools-haven.com/kontakt?success=true')

            .form-group
              label.form-label(for='name') Jméno
              input.form-input(
                type='text'
                id='name'
                name='name'
                placeholder='Vaše jméno'
                required
                autocomplete='name'
              )

            .form-group
              label.form-label(for='email') E-mailová adresa
              input.form-input(
                type='email'
                id='email'
                name='email'
                placeholder='vas@email.cz'
                required
                autocomplete='email'
              )

            .form-group
              label.form-label(for='subject') Předmět
              select.form-select(id='subject' name='subject')
                option(value='Našel/a jsem chybu') Našel/a jsem chybu
                option(value='Nápad na vylepšení') Nápad na vylepšení
                option(value='Dotaz k soukromí') Dotaz k soukromí
                option(value='Jiné') Jiné

            .form-group
              label.form-label(for='message') Zpráva
              textarea.form-textarea(
                id='message'
                name='message'
                placeholder='Popište váš dotaz nebo problém co nejpodrobněji...'
                rows='6'
                required
              )

            .form-group
              button.btn.btn--primary(type='submit') Odeslat zprávu
              p.form-hint Odpovídáme obvykle do 2 pracovních dnů.